body {
  font-family: futura, san-serif;
}
.about-main {
  padding: 80px;
  font-size: 34px;
}
.skills {
  padding: 0px 80px 40px 80px;
  font-size: 28px;
}
.other {
  padding: 0px 80px 40px 80px;
  font-size: 28px;
}
.no-float {
  float: none !important;
  margin: 0 auto;
  display: block;
}
.no-float-about {
  float: none !important;
  margin: 300px auto;
  display: block;
}
.white-back {
  background-color: #ffffff;
}
.last-sec {
  padding-bottom: 100px
}
.works-page {
	background: url(../images/andy-hero_2017.png);
}
.brand_a:hover {
    -moz-transform: scale(1.5);
  -webkit-transform: scale(1.5);
  transform: scale(1.5);
  transition: ease all 0.4s;
}
.gradient-back {
	width: 100vw;
	position: absolute;
	margin-top: -50px;
}
.dl-btn {
  a {
    border: 1px solid black;
    border-radius: 2px;
    padding: 15px;
  }
  a:hover {
    background-color: black;
    color: #ffffff;
    transition: all ease .4s;
  }
  text-align: left;
  padding: 20px 60px 40px 60px;
}
.works-nav .navbar-brand, .navbar-custom .navbar-nav > li > a, .works-nav .navbar-nav .dropdown-menu > li > a {
    font-size: 11px;
    letter-spacing: 3px;
    color: #ffffff;
}
.work-pg a{
  color: #ed880c !important;
}
.work-wrapper {
	width: 80%;
}
.page-title {
	font-size: 80px;
  text-align: center;
  margin: 120px 40px 80px 40px !important;
  height: auto !important;
  width: auto !important;
  color: #ffffff;
}

li.pause {
  padding: 20px;
}
.portfolio-list {
	padding: 20px 5px 20px 10px;
}
.portfolio-list li {
	width: 100%;
}
.portfolio-list .pause a div.overlay{
    z-index: 1;
    background-color: #0073d1;
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    top: 0;
}

.portfolio-list .pause a div.overlay:hover{
    opacity: 0.5;
}

a:hover {
    outline: 0;
}

.portfolio-list li .h__module {
    opacity: 0;
    visibility: hidden;
    position: absolute;
    width: 100%;
    left: 50%;
    top: 50%;
    transform: translate(-50%,0);
}
.portfolio-list li a:hover .h__module {
    opacity: 1;
    visibility: visible;
    transform: translate(-50%,-50%);
    background-color: black;
}
.portfolio-list li a img {
    transition: transform .75s;
}

.portfolio-list li img {
    width: 100%;
    background-size: cover;
}
.portfolio-list li a {
    display: block;
    position: relative;
    height: 0;
    padding-bottom: 60%;
    overflow: hidden;
}
.portfolio-list li a:hover img {
    transform: scale(1.1);
}

/* MODAL */
.work-nadbc-overlay, .work-asbmt-overlay, .work-ros-overlay, .work-vit-overlay {
	display: none;
  position: fixed;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.9);
  overflow-y: scroll;
  overflow-x: hidden;
  top: 0;
  left: 0;
  z-index: 10000000;
  text-align: center;
}
.work-pulse-overlay, .work-walarm-overlay, .work-htmle-overlay {
  display: none;
  position: fixed;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.9);
  overflow-y: scroll;
  overflow-x: hidden;
  top: 0;
  left: 0;
  z-index: 10000000;
  text-align: center;
}

.modal-on-nadbc, .modal-on-asbmt, .modal-on-ros, .modal-on-vit, .modal-on-pulse, .modal-on-walarm, .modal-on-htmle {
  overflow: hidden;
  position: fixed;
  width: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%; 
}
.go-back {
  z-index: 1000;
  font-size: 24px;
  font-family: futura, san-serif;
  font-style: italic;
  color: white;
  display: inline-block;
  position: absolute;
  padding-left: 52px;
  right: 50px;
  top: 50px; }
.mock-layout {
  padding-bottom: 60px;
}
.work-section {
  background-color: #ffffff;
  margin: 100px 0px 100px 0px;
}
.work-section-htmle {
  background-color: #e6e6e6;
  margin: 100px 0px 100px 0px;
}
.about-section {
  background-color: #ffffff;
  margin: 40px 0px 100px 0px;
}
.work-desc {
  text-align: left;
  padding: 60px 60px 20px 60px;
}
.work-desc-htmle {
  text-align: center;
  padding: 60px 60px 20px 60px;
}
.company {
  text-align: left;
  padding: 0px 60px;
  margin-bottom: 0px;
}
.role {
  text-align: left;
  padding: 0px 60px 20px;
  margin-bottom: 0px;
}


.fotorama__wrap {
  margin: 0 auto !important;
}

@media (max-width: 768px) {
  .navbar-collapse {
    background-color: #ffffff;
  }
  .works-nav .navbar-brand, .navbar-custom .navbar-nav > li > a, .works-nav .navbar-nav .dropdown-menu > li > a {
    font-size: 11px;
    letter-spacing: 3px;
    color: #3ec39e;
  }
  .no-float-about {
    margin: 0px auto;
  }
  .about-main, .skills, .other {
    padding: 40px;
    font-size: 28px;
  }
}

@media (max-width: 450px) {
	.page-title {
		font-size: 30px;
	}
	.name_tag {
		margin-left: 12px;
	}
}


